
speed_insect=6          # insects move x Pixels per tick
num_insects=200         # Number of insects
shout_distance=50       # How far insects can communicate
food_spawn_rad=150      # Food spawns in a circle with that radius in pixels
food_rad=10             # How big the food sprites are
num_food=3              # How many food objects there should be
speed_food=.1           # How fast the food moves
SCREEN_WIDTH=800
SCREEN_HEIGHT= 600

# seek_mode: 0 = cycle between all foods in order, 1=seek any food, that isnt the last one
seek_mode = 1
